@using МенеджерБД.Домен;

@model Проект

@{
    ViewBag.Title = @Model == null ? "Ошибочка" : "Проект: " + @Model.Название;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav" style="margin-top: 45px; text-align:start">
                <p>
                    <span class="btn btn-large">@Html.ActionLink("К списку »", "Index")</span>
                </p>
                <p>
                    <span class="btn btn-large">@Html.ActionLink("Новый проект »", "Create")</span>
                </p>
            </div>
            <div class="well sidebar-nav">
                <h5>Список спринтов:</h5>
                @foreach (Спринт спринт in Model.Спринты)
                {
                    <p>@Html.ActionLink(@спринт.Название, "Sprint", "Sprints", new { Id = @спринт.Id}, null)</p>
                }
            </div>
            <div class="well sidebar-nav">
                <p>
                    Бэклог
                </p>
            </div>
        </div>

        <div class="span9">
            <div class="hero-unit" style="margin-top:45px">
                @if (Model != null)
                {
                    <h2>@Model.Название</h2>
                    <p>@Model.Описание</p>
                }
                else
                {
                    <h2>Извините, по данному запросу не найден проект.</h2>
                }
            </div>
        </div>
    </div>
</div>
