@using МенеджерБД.Домен;

@model Спринт

@{
    ViewBag.Title = @Model == null ? "Ошибочка" : "Спринт: " + @Model.Название;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav" style="margin-top: 45px; text-align:start">
                <p>
                    <span class="btn btn-large">@Html.ActionLink("К списку »", "Index")</span>
                </p>
                <p>
                    <span class="btn btn-large">@Html.ActionLink("Новый спринт »", "Create")</span>
                </p>
            </div>
            <div class="well sidebar-nav">
                <h5>Список требований спринта:</h5>
                @foreach (Требование требование in Model.Требования)
                {
                    <p>@Html.ActionLink(@требование.Название, "UserStory", "UserStories", new { Id = @требование.Id }, null)</p>
                }
            </div>
            <div class="well sidebar-nav">
                <h5>Список задач спринта:</h5>
                @foreach (Задача задача in Model.Задачи)
                {
                    <p>@Html.ActionLink(@задача.Название, "Task", "Tasks", new { Id = @задача.Id }, null)</p>
                }
            </div>
        </div>

        <div class="span9">
            <div class="hero-unit" style="margin-top:45px">
                @if (Model != null)
                {
                    <h2>@Model.Название</h2>

                    <p>
                        Список задач по людям
                    </p>
                }
                else
                {
                    <h2>Извините, по данному запросу не найден спринт.</h2>
                }
            </div>
        </div>
    </div>
</div>
